body {
  width: 800px;
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 25px;
  font-family:Arial, sans-serif;
  font-size:11pt;
}
#balken {
  height: 3px;
  width: 800px;
  top:0px;
  margin-bottom: 40px;
  position:static;
  left:0px;
  background-color:rgb(16, 38, 59);
}
#balken2 {
  height: 3px;
  width: 800px;
  top:0px;
  margin-top: 40px;
  margin-bottom: 30px;
  position:static;
  left:0px;
  background-color:rgb(16, 38, 59);
}
#balken3 {
  height: 3px;
  width: 800px;
  top:0px;
  margin-top: 30px;
  margin-bottom: 30px;
  position:static;
  left:0px;
  background-color:rgb(16, 38, 59);
}
h1 {
  color: rgb(16, 38, 59);
}
p1 {
  color: rgb(16, 38, 59);
}
img {
  width: 23.4%;
  height: auto;
  border: 1px solid rgb(16, 38, 59);
 }
a {
  color: rgb(16, 38, 59);
  text-decoration: none;
}
ul {
  list-style-type: square;
}
ul li::marker {
color: rgb(16, 38, 59);
}
li {
color: rgb(16, 38, 59);
}

#postamble {
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
  font-size: 0.75em;
  color: grey;
}